<!--  Replace top menu links here -->

<li class="nav-item">
    <a class="nav-link active" href="/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/categories.html">Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/web-concepts-library/">Post</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contact.html">Contact</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about.html"><img class="rounded-circle mr-2"
            src="{{site.baseurl}}/{{site.avatar}}" width="30"><span class="align-middle">About</span></a>
</li>